@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Noto Serif KR";
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 150px;
  text-align: center;
}
